$red-primary: #d11d66;
$blue-primary: #00aeef;
$blue-tertiary: #0631A2C7;

/** Drop Values**/
$drop-x: -4px;
$drop-y: 4px;

/** screen sizes **/
$sm: 600px;
$md: 960px;
$lg: 1264px;
$xl: 1904px;

%retro-shadow {
    box-shadow: -10px 10px $red-primary;
    transition: 240ms ease-in;

    &:hover {
        cursor: pointer;
        box-shadow: -14px 14px $red-primary;
    }

    border: 2px solid #ffffff38;


}